<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>发布寻主</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<link rel="shortcut icon" href="/favicon.ico">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="libs/l7/light7.min.css">
		<link rel="stylesheet" href="libs/swiper/swiper.min.css">
		<link rel="stylesheet" href="dest/all.min.css">
		<link rel="stylesheet" type="text/css" href="dest/fmaster.css" />
	</head>

	<body>
		<div class="page" id="fpet">
			<div class="mask"></div>
			<div class="content fpet-content">
				<div class="list-block">
					<ul>
						<!-- Text inputs -->
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">描述</div>
									<div class="item-input">
										<textarea type="text" v-model="formData.petDescription" placeholder="描述宠物特点"></textarea>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">图片</div>
									<div class="item-input erM-upPic">
										<div v-for="(item,index) in petImageArr" class="erM-up">
											<img :src="item"/>
											<span class="erM-minus" @click="removePetImg(index)">x</span>
										</div>
										<div class="erM-up"><input type="file" class="petImg-upload" id="upPic" name="file" accept="image/*" >
											<span class="erM-plus">+</span>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-block">
					<ul>
						<!-- Text inputs -->
						<li>
							<div class="item-content item-link">
								<div class="item-inner">
									<div class="item-title label">宠物类别</div>
									<div class="item-input">
										<input v-model="classifyName" type="text" class="create-actions" placeholder="选择宠物类别" readonly = "readonly">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content item-link">
								<div class="item-inner">
									<div class="item-title label">宠物品种</div>
									<div class="item-input">
										<input v-model="varietyName" type="text" readonly="readonly" class="open-popup" data-popup=".popup-petVariety" placeholder="选择宠物品种">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-block">
					<ul>
						<li>
							<div class="item-content item-link">
								<div class="item-inner">
									<div class="item-title label">发现日期</div>
									<div class="item-input">
										<input value="2018-03-05 08:30" id="datetime-picker" type="text" placeholder="描述发现日期">
									</div>
								</div>
							</div>
						</li>
						<li>
							<a class="item-content item-link" href="location.html">
								<div class="item-inner">
									<div class="item-title label">发现地点</div>
									<div class="item-input">
										<input type="text" v-model="formData.lostLocation" placeholder="选择发现地点">
									</div>
								</div>
							</a>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">发现人姓名</div>
									<div class="item-input">
										<input type="text" v-model="formData.ownerName" placeholder="填写发现人姓名">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-inner">
									<div class="item-title label">联系方式</div>
									<div class="item-input">
										<input type="text"   v-model="formData.ownerContact" placeholder="填写常用手机号">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div type="submit" class="publish-btn"  :class = "{submitActive:hasNullItem(formData)}" @click="submitRelease">提交</div>
			</div>
			<!--宠物品种 popup -->
			<div class="popup popup-petVariety">
				<div class="variety-box">
					<ul class="commonList-row">
						<li v-if="index < 12" v-for="(item,index) in varietyArr" class="flex-center close-popup" @click="selectVarietyArr(item.id,item.name)">
							<div class="avatar">
								<img :src="item.icon" />
							</div>
							<div class="name">{{item.name}}</div>
						</li>
					</ul>
				</div>
				<div class="cancel-btn">
					<div class="btn flex-center close-popup">取消</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
		<script type='text/javascript' src='libs/l7/light7.min.js'></script>
		<script type='text/javascript' src='js/vue.js'></script>
		<script type='text/javascript' src='js/common.js'></script>
		<script src="https://unpkg.com/vue-baidu-map"></script>
		<script type='text/javascript' src='js/fmaster.js'></script>
		<script src="libs/dealImg/lrz.bundle.js"></script>
	</body>

</html>